* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body
{
    background-color: #E9E8E0;
}

a
{
    text-decoration: none;
    color: black;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #2c5f2d;
  text-align: center;
  margin-top: 50px;
}

#categories
{
    display: flex;
    max-width: 80rem;
    margin: auto;
    gap: 20px;
    margin-top: 100px;
}

.box
{
    width: 300px;
    height: 300px;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    background-color: white;
    cursor: pointer;
    display: flex;
    align-items: center;     
    justify-content: center; 
    background-size: cover;
    background-position: center;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  margin: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s;
}

.tops 
{
  background-image: url("images/tops.jpg");
}

.bottoms 
{
  background-image: url("images/bottoms.jpg");
}

.shoes 
{
  background-image: url("images/shoes.jpg");
}

.others 
{
  background-image: url("images/others.jpg");
}

.box:hover 
{
    transform: translateY(-6px);
}

h3
{
    color: white;
    background-color: rgb(47, 47, 47);
    border-radius: 6px;
    padding: 10px;
}



.gender-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #e9e8e0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gender-popup-content {
  text-align: center;
}

.gender-options-row {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.gender-option {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.gender-option img {
  width: 300px;
  height: auto;
  background-color: white;
  padding: 2rem;
  border-radius: 6px;
}

.gender-option button {
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  font-size: 2rem;
  font-weight: bold;
  background-color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.gender-question {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}